/*  your css code here. If applicable */
.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.img-text {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}

.panel {
  width: 40px;
  transition: width 0.5s ease;
  position: relative;
}

.active {
  width: 500px;
}